review-card {
  width: 95% !important;
  align-self: center;
  padding: 16px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 0.5em;
  background-color: #f4f4f4;
  display: block;
}

review-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.review-card-author {
  margin: 0;
  padding-left: 16px;
}

.review-card-star-holder {
  padding: 16px;
  margin-left: 16px;
}

.review-card-text {
  word-wrap: break-word;
  white-space: normal;
  padding: 0 16px 0 32px;
}

.review-card-star-holder {
  color: darkorange;
  padding: 0;
  margin-left: 64px;
  opacity: 60%;
}

.review-card-date {
  opacity: 60%;
}

.review-card-user-icon {
   width: 3em;
   height: 3em;
  padding-left: 16px ;
}

.review-card-crim-list {
  border: 3px red;
  margin-left: 32px;
}

.review-card-star-icon {
  size: 1em;
  margin: 4px;
}

.review-card-crim-name {
  margin-right: 1em;
}

#review-card-social {
  margin: 0;
  padding: 8px 0 0 0 ;
}

.review-card-social-item {
  padding: 8px;
  margin: 8px;
  align-items: end;
}


.review-card-social-item > label {
  padding: 0;
  margin: 0;
  opacity: 60%;
}


.review-card-social-item > iron-icon {
  padding: 0;
  margin: 0;
  opacity: 60%;
}

.review-card-social-likes > iron-icon {
  color: #EE7777;
}


#review-card-seperator {
  margin: 8px 32px 8px 32px;
}


/* ------------------------------------------------------ */
/*     Edit review Dialog     */

#review-card-edit-dialog {
  border-radius: 2em;
  background-color: red;
}

#review-card-edit-close-icon {
  margin: 0;
  padding: 0;
  opacity: 60%;
}