review-card {
  width: 100%;
  padding: 16px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 0.5em;
  background-color: #f4f4f4;
  display: block;
}

review-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.review-card-author {
  margin: 0;
  padding-left: 16px;
}

.review-card-star-holder {
  padding: 16px;
  margin-left: 16px;
}

.review-card-text {
  word-wrap: break-word;
  padding: 0 16px 0 32px;
}

.review-card-star-holder {
  color: darkorange;
  padding: 0;
  margin-left: 64px;
}

.review-card-date {
  opacity: 60%;
}

.review-card-user-icon {
   width: 3em;
   height: 3em;
  padding-left: 16px ;
}

.review-card-crim-list {
  border: 3px red;
  margin-left: 32px;
}

.review-card-star-icon {
  size: 1em;
  margin: 4px;
}

.review-card-crim-name {
  margin-right: 1em;
}
